* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: 100px minmax(300px, 1fr) 50px;
    min-height: 100vh;
    min-width: 80vw;
}

#topmostline {
    background-color: #F71D1D;
    height: 5px;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border-bottom: #F71D1D 1px solid;
    background-color: #fff;
}

header h1 {
    margin-left: 20px;
    font-size: 1.5em;
}

main {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
}

/* HEADER STUFF */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

body header div.leftheader img.logo {
    height: 50px;
    margin-left: 50px;
}

body header {
    display: flex;
    justify-content: space-between;
}

body header div.leftheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body header div.rightheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-right: 20px;
}

/* SEARCH STUFF */
.search-input {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-input:focus {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #007bff;
}

.search-button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border: none;
    background-color: lightgrey;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.search-button:hover {
    background-color: darkgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* SIDENAV STUFF */
.sidenav-styles {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 20px;
}

.sidenav-styles a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav-styles a:hover {
    color: #f1f1f1;
}

.sidenav-styles .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

li a {
    text-decoration: none;
}

li:hover {
    text-decoration: none;
    background-color: lightgrey;
}

.selected {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
}



.music-categories {
    margin-top: 20px;
}

.music-categories h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.playlist-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.playlist-item img {
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.playlist-item p {
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

.playlist-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}